.elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  margin-left: 15%;
  margin-top: 1%;
}
.element {
  width: 250px;
  height: 400px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px -14px rgba(0, 0, 0, 0.75);
}
.conteiner {
  display: flex;
  width: 100%;
  height: 40%;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  align-items: center;
  font-size: 1.1rem;
}

.BigTextElement {
  height: 50%;
  width: 100%;
  text-align: center;
  vertical-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #ffffff;
}
.photo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
