.logoMedium {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 20%;
}
.mainPhoto {
  position: absolute;
  height: 125%;
  right: 0;
}

.bigText {
  font-size: 4vw;
  color: rgb(56, 56, 56);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.smallText {
  font-size: 1.3vw;
  font-family: "Montserrat", sans-serif;
  margin-left: 1vw;
  font-weight: medium;
  color: rgb(75, 75, 75);
}
.mediumText {
  font-size: 1.5vw;
  font-family: "Montserrat", sans-serif;
  margin-left: 1vw;
  font-weight: medium;
  color: rgb(75, 75, 75);
}

.mainText {
  position: absolute;
  height: 100%;
  left: 5%;
  display: flex;
  flex-direction: column;
  width: 35%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.secondMainText {
  position: absolute;
  height: 100%;
  left: 62%;
  display: flex;
  flex-direction: column;
  width: 35%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.homeConteiner {
  width: 100%;
  height: 2000px;
}

.smalTextConteiner {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mainConteiner {
  display: flex;
  position: absolute;
  margin-top: 40px;
}
.btn {
  cursor: pointer;
  display: flex;
  background-color: #37ec38;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 7vh;
  border-radius: 4vh;
  font-size: 1.4vw;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 600;
}
.btn:hover {
  background-color: #37ec38;
}

.btn-contact {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  width: 10%;
  cursor: pointer;
  font-size: 1.4vw;
  font-family: "Montserrat", sans-serif;
  color: #37ec38;
  font-weight: 600;
}
.btn-contact:hover {
  color: #214722;
}
.btn-conteiner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin-top: 5vh;
}
.resonConteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 50%;
  width: 60%;
  margin-left: 20%;
  top: 150%;
  position: absolute;
}

.reson {
  width: 45%;
  height: 40%;
}
.verticalLine {
  position: absolute;
  width: 100%;
  height: 5px;
  background: rgb(56, 56, 56);
  top: 49.5%;
}
.horizontalLine {
  position: absolute;
  width: 5px;
  height: 100%;
  background: rgb(56, 56, 56);
  left: 49.95%;
}
.bigTextConteiner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 115%;
  width: 70%;
  left: 15%;
  height: 30%;
}
.contestConeiner {
  flex-wrap: wrap;
  height: 90%;
  width: 100%;
  top: 210%;
  position: absolute;
  display: flex;
  align-items: center;
}
.secondMainText {
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 55%;
  top: 10%;
}
/* MOBILE VIEW */

.logoMediumWhite {
  width: 60%;
  position: absolute;
  right: 3px;
  top: 2%;
}

.mobilePhoto {
  width: 100%;
  left: 0;
  top: 0;
}
.mobilePhotoDown {
  position: absolute;
  background: transparent;
  width: 100%;
  left: 0;
  bottom: -30%;
}
.bigTextMobile {
  font-size: 10vw;
  color: rgb(56, 56, 56);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.smallTextMobile {
  font-size: 4vw;
  font-family: "Montserrat", sans-serif;
  color: rgb(112, 112, 112);
}
.mobileTextConteiner {
  margin-top: 15%;
  left: 8%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.smallTextMobileConteiner {
  padding-top: 30px;
  width: 80%;
}
.mediaConteiner {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-left: 30%;
}

.icon {
  cursor: pointer;
  font-size: 5vw;
  color: #36ad5e;
}

.icon:hover {
  color: #2a8147;
}
@media screen and (max-width: 950px) {
  .btn {
    cursor: pointer;
    display: flex;
    background-color: #37ec38;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7vh;
    border-radius: 4vh;
    font-size: 4vw;
    font-weight: 600;
  }
  .btn-contact {
    display: flex;
    text-align: center;
    width: 40%;
    cursor: pointer;
    font-size: 4vw;
    font-family: "Montserrat", sans-serif;
    color: #37ec38;
    font-weight: 600;
    margin-left: 10%;
  }
  .btn-conteiner {
    justify-content: space-between;
  }
  .resonConteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 60%;
    width: 90%;
    margin-left: 5%;
    top: 130%;
    position: absolute;
    text-align: center;
  }
  .reson {
    width: 45%;
    height: 40%;
  }
  .verticalLine {
    position: absolute;
    width: 100%;
    height: 3px;
    background: rgb(56, 56, 56);
    top: 49.5%;
  }
  .horizontalLine {
    position: absolute;
    width: 3px;
    height: 100%;
    background: rgb(56, 56, 56);
    left: 49.95%;
  }
  .bigTextConteiner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 105%;
    width: 90%;
    left: 5%;
    height: 20%;
  }
  .contestConeiner {
    flex-wrap: wrap;
    height: 120%;
    width: 100%;
    top: 200%;
    position: absolute;
    display: flex;
    align-items: flex-start;
  }
  .secondMainText {
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5%;
    top: 27%;
  }
}
