html {
  background: #fafbfc;
}

.PhotoDown {
  width: 100%;
  bottom: 0;
  padding-top: 180px;
}
.logoWhite {
  position: absolute;
  width: 20%;
  top: 15px;
  left: 20px;
}
.Conteiner {
  top: 40%;
  left: 35%;
  width: 30%;
  height: 20%;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}
.BigText {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.smallTextWarsztaty {
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: white;
}

.buttonConteiner {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.button1 {
  border: unset;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;

  background: transparent;
  color: white;
}
.button1:hover {
  color: #37ec36;
  border: none;
}

@media screen and (max-width: 950px) {
  .logoWhite {
    width: 60%;
    position: absolute;
    left: 40%;
    top: 2%;
  }
  .button1 {
    border-bottom: unset;
  }
  .Conteiner {
    width: 95%;
    left: 2.5%;
    top: 48%;
    height: 26%;
  }
  .BigText {
    font-size: 10vw;
    top: 22%;
    width: 95%;
    left: 2.5%;
    text-align: center;
  }
}
