html {
  background: #fafbfc;
}

.PhotoDown {
  width: 100%;
  bottom: 0;
  padding-top: 180px;
}
.logoWhite {
  position: absolute;
  width: 20%;
  top: 15px;
  left: 20px;
}
.cn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 60%;
  height: 55%;
  top: 15%;
  left: 20%;
}
.Conteiner {
  left: 30%;
  width: 80%;
  height: 47%;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}
.BigText {
  width: 100%;
  font-size: 4vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.smallTextWarsztaty {
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.3vw;
  color: white;
}

.buttonConteiner {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.button1 {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  background: transparent;
  color: white;
  cursor: pointer;
}
.button1:hover {
  color: #36ad5e;
}
.button1:active {
  border: none;
}

@media screen and (max-width: 950px) {
  .smallTextWarsztaty {
    text-align: center;
    font-size: 3.1vw;
  }
  .logoWhite {
    width: 60%;
    position: absolute;
    left: 40%;
    top: 2%;
  }
  .button1 {
    border-bottom: unset;
    font-size: 5.3vw;
  }
  .Conteiner {
    width: 95%;
    left: 2.5%;
    top: 50%;
    height: 43%;
    font-size: 10vw;
  }
  .BigText {
    font-size: 9vw;
    top: 18%;
    width: 95%;
    left: 2.5%;
    text-align: center;
  }
  .cn {
    top: 20%;
    left: 0;
    height: 55%;
    width: 100%;
  }
}
